<a name="about"></a>

<div class="about-container">


<div class="about-wrapper">
  
</div>

 

 <section  class="a-about" >
  

  
       
        <div class="a--about about">

             <h4 class="a--title">We are</h4>
           
             <p class="a--content"> A professional and friendly company where we aim to produce original pieces to suit your personal taste and environment and also restore old ones to their former beauty. 

Glass is a beautiful and versatile medium, there is a very large scale of different kind of glass and designs to choose from, we are always pleased to discuss a new idea or project and are looking forward to working with you.
             </p>
    
         </div>


             <a class="h--arrow" href="#container">{% include icons/bottom-arrow.html %}</a> 

 </section>

  

</div>


  
       
 


