
<a name="contact"></a>
<section class="c--container">
	
	<div class="c--info">
		<h4 class="a--title">CONTACT</h4>
        <div class="commissions-info ">
        	<p class="commission--info">The first step to take to discuss a project is to contact us by phone or email to arrange a first appointment.
         We will discuss your requirements or ideas and we’ll take it from there.
        On the next appointment we will discuss the developing of the design and glass samples.
        Installation can also be arranged. If a new piece is required for a present or a certain date, please keep in mind tha idea development of design andfabrication projects might take a few weeks to complete...with creativity, expertise and professionally.<br/>
        We will arrange a first meeting when we will discuss your idea or the piece that needs to be restored. In case of a new project, a second meeting is recommended to discuss the development of the design and choice of glass. In case of restoration we will arrange a suitable time for the removal of the existing panel and a date for installation once the panel has been restored. <br/>
        If you are interested in an existing piece, if still available, a viewing can be arranged.
        If you are interested in a reproduction of an existing piece, we can arrange a meeting to discuss your preferences in regards of glass and colours or any changes to suit your taste.</p>
        </div>


	</div>

	<form class="form" method="POST" action="//formspree.io/lzottoli93@gmail.com">
     
     <div class="input-group">
     	
		<input type="text" name="name" >
     	<label for="name">Your Name</label>

	 </div>

     <div class="input-group">
		
		<input type="email" name="_replayto">
		<label for="email">Your Email Address</label>
        <input type="hidden" name="_next" value="//localhost:3000/success.html" />
     </div>

    <textarea name="message" cols="50" rows="10" placeholder="Your Message Here"></textarea>

    
     <div class="input-group">

		<input type="submit" name="submit" value=" Send">

     </div>
	</form>

</section>s