<footer>
    
     <div class="f-social-row">
            <ul>
              <li class="f-social--item">
               <a href="https://www.facebook.com/figarosglassart?fref=ts" class=" icon icon-facebook"> </a>
              </li>

              <li class="f-social--item">
               <a href="#home"> {% include icons/arrow.html %} </a>
              </li>

             
              <li class="f-social--item">
                <a href="https://www.facebook.com/figarosglassart?fref=ts" class="icon-instagram icon"> </a>
              </li>

            </ul>
          </div>

	<h4 class="f--copy">&copy FIGAROS'GLASS 2015, LONDON</h3>
	<h4 class="f--develop">DEVELOPED BY <a href="#"> LZWEBDEVELOPER</a></h2>
</footer>