<a  name="container"></a> 
        <section id="info--container">

                    <div class="info-container">
                        
                            <h4 class"a--title">WHAT WE DO</h4>

                            <p>
                               At Figaro's glass we restore and manufacture stained glass panels using traditional techniques.From small on site repairs to decorative panels for your home or business, no job is too small.We aim to create a pleasing environment using contemporary or traditional designs in order to suit your requirements and personal taste.We understand that with such a large variety available it can be confusing to decide on a single project, therefore, we are happy to take the time to help  you achieve what  is the best choice for you so feel free to  contact us
                           </p>   
                        
                    </div>
              


              <div class="a--about info">      
          
             </div> 
        		

        </section>

           